<div *ngIf="this.msg" class="help-block error small">{{this.msg['msg']}}</div>
<div *ngIf="events && events.length > 0; else noEvents">
    <ul class="list-group" *ngFor="let event of events; index as i">
        <li class="list-group-item">
          <div class='container'>
            <div class="container">
              <div class="row">
                <div class="col-10" (click)="viewEvent(event._id)">
                    {{event.event_name}}
                </div>
                <div class="col-sm" (click)="edit(event._id)">
                  Edit
                </div>
                <div class="col-sm" (click)="open(content, i)">
                    DELETE
                  </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
</div>
<ng-template #noEvents>
    <h1>You have not create events</h1>
  </ng-template>
<hr>
<div class="container" *ngIf="invitations && invitations.length > 0; else noInvitations">
    <h1>Invitations</h1>
    <h3>You were invited to the following events</h3>
    <ul class="list-group" *ngFor="let invitation of invitations; index as i">
      <li class="list-group-item" >
          <p (click)="viewEvent(invitation.event._id)">{{invitation.event.event_name}} by {{invitation.user.username}}</p>

          <div *ngIf="invitation.is_going === 'accepted'">
              <p>Are you goning? <b (click)="updateInvitation('declined', invitation, i)">No</b></p>
              <p>You already have accepted this invitation</p>
          </div>

          <div *ngIf="invitation.is_going === 'declined'">
              <p>Are you goning? <b (click)="updateInvitation('accepted', invitation, i)">Yes</b></p>
              <p>You already have declined this invitation</p>
          </div>

          <div *ngIf="invitation.is_going === 'unresponded'">
              <p>Are you goning? <b (click)="updateInvitation('accepted', invitation, i)">Yes</b></p>
              <p>You have not responded to this invitation</p>
          </div>
      </li>
    </ul>
</div>
<ng-template #noInvitations>
  <h1>You have no invitaions</h1>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Are you sure you want to delete this event?</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>You are going to delete {{events[eventIndexToDelete].event_name}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('NO')">Cancel</button>
      <button type="button" class="btn btn-success" (click)="c('OK')">OK</button>
    </div>
  </ng-template>
