<div class="container">
  <h1>{{event.event_name | capitalize}}</h1>
  <div *ngIf="event.invitations">
    <h5 *ngIf="event.invitations.length > 0">The Following Invitations were made</h5>
    <h5 *ngIf="event.invitations.length === 0">You have not invited any user</h5>
  </div>
  <ul class="list-group list-group-flush" *ngFor="let invitation of event.invitations">
    <li class="list-group-item" >To {{invitation.user.username}} he|she has {{invitation.is_going}}</li>
  </ul>
  <div class="form-group">
    <h3>Invitate user</h3>
    <input type="text" class="form-control" placeholder="Write user name to invitate" #invitateInput>
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-success" (click)='invitateUser(invitateInput.value)'>Submit</button>
    <div *ngIf="errorRes" class="help-block error small">{{errorRes}}.</div>
  </div>

  <div class="container">
      <div class="container">
          <div class="row">
            <div class="col-sm">
                <div>
                    <h5>Description:</h5>
                    {{event.description}}
                  </div>
            </div>
            <div class="col-sm">
                <div>
                  <h5>Starts at:</h5> {{event.start_timestamp | date:'yyyy-MM-dd HH:mm'}}</div>
            </div>
            <div class="col-sm">
                <div><h5>Ends at: </h5>{{event.end_timestamp | date:'yyyy-MM-dd HH:mm'}}</div>
            </div>
            <div class="col-sm">
                <div><h5>Category:</h5>  <p *ngIf="event.category">{{event.category.title}}</p></div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="location"><h4>Location</h4></label>
          <app-google-map (address)="getAddress($event)" (addressFormat)="getFormattedAddress($event)"></app-google-map>
        </div>

        <div >
          <h4 for="image">Image</h4>
          <img #eventImage class="img-fluid">
        </div>

  </div>

  </div>
